<ion-header>
  <ion-toolbar color="danger">
    <ion-title>个人中心</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top">
    <div class="user">
      <div style="display:flex;align-items:center;justify-content: center;"><span
          style="text-align: center;color:#fff;">登录</span></div>
      <!-- <span>#</span> -->
      <!-- <img src="" alt=""> -->
    </div>
  </div>
  <div class="box">
    <span>我的订单</span>
    <div class="r-box">
      <span class="r-title">查看全部</span>
      <ion-icon name="arrow-forward"></ion-icon>
    </div>
  </div>
  <div class="menu">
    <div class="menu-item">
      <img src="/assets/images/menu1.png" alt="">
      <span>代付款</span>
    </div>
    <div class="menu-item">
      <img src="/assets/images/menu2.png" alt="">
      <span>代成团</span>
    </div>
    <div class="menu-item">
      <img src="/assets/images/menu3.png" alt="">
      <span>待发货</span>
    </div>
    <div class="menu-item">
      <img src="/assets/images/menu4.png" alt="">
      <span>待收货</span>
    </div>
    <div class="menu-item">
      <img src="/assets/images/menu5.png" alt="">
      <span>待评价</span>
    </div>
  </div>
  <div style="width:100%;background:#f6f6f6;height:10px;margin:10px 0"></div>
  <div class="menu">
    <div class="menu-item">
      <img src="/assets/images/menu6.png" alt="">
      <span>优惠券</span>
    </div>
    <div class="menu-item">
      <img src="/assets/images/menu7.png" alt="">
      <span>我的红包</span>
    </div>
    <div class="menu-item">
      <img src="/assets/images/menu8.png" alt="">
      <span>我的助力</span>
    </div>
    <div class="menu-item">
      <img src="/assets/images/menu9.png" alt="">
      <span>收藏</span>
    </div>
    <div class="menu-item">
      <img src="/assets/images/menu10.png" alt="">
      <span>客服</span>
    </div>
  </div>
  <div style="width:100%;background:#f6f6f6;height:10px;margin:10px 0"></div>
  <div class="menuList">
    <div class="l-menuList">
      <img src="/assets/images/b-menu1.png" alt="">
      <span>&nbsp;&nbsp;我的免单券</span>
    </div>
    <ion-icon name="arrow-forward"></ion-icon>
  </div>
  <div class="menuList">
      <div class="l-menuList">
        <img src="/assets/images/b-menu2.png" alt="">
        <span>&nbsp;&nbsp;浏览记录</span>
      </div>
      <ion-icon name="arrow-forward"></ion-icon>
    </div>
    <div class="menuList">
        <div class="l-menuList">
          <img src="/assets/images/b-menu3.png" alt="">
          <span>&nbsp;&nbsp;收货地址</span>
        </div>
        <ion-icon name="arrow-forward"></ion-icon>
      </div>
      <div class="menuList">
          <div class="l-menuList">
            <img src="/assets/images/b-menu3.png" alt="">
            <span>&nbsp;&nbsp;实名认证</span>
          </div>
          <ion-icon name="arrow-forward"></ion-icon>
        </div>
</ion-content>