<ion-header>
  <ion-toolbar>
    <ion-title>
      搜 索
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder=""></ion-searchbar>
  <div class="yan">
    <img src="/assets/images/yan.png" alt="">
    <span>&nbsp;大家都在搜</span>
  </div>
  <div class="search-other">
    <span>口水巾</span>
    <span>宝宝辅食</span>
    <span class="active">益智玩具</span>
    <span class="active">初恋雨伞</span>
    <span>俞兆林</span>
    <span>本色抽纸</span>
    <span class="active">每日坚果</span>
    <span>提拉米苏</span>
    <span>布书</span>
    <span>德国原装</span>
    <span>蜜拉贝儿 湿巾</span>
    <span>柠檬</span>
    <span class="active">婴儿洗衣液</span>
    <span class="active">收纳箱</span>
    <span>学习机</span>
    <span>辅食研磨器</span>
  </div>
</ion-content>
